*{
    padding: 0;
    margin: 0;
    
}
#masterContainer{
    position: relative;
    font-family: 'Montserrat';
    
}
#homePage{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: wheat;
    opacity: 1;

    

}
#loader{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    top: 0;
}
#logo>img{
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    margin: 10px 30px;
    display: none;
}
#loginForm{
    
    height: 500px;
    width: 500px;
    background-color:crimson;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

    
}

#welcome{
    font-size: 50px;
    color: wheat;
    letter-spacing: 2px;
    

}
.ipUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#usernameIp{
    margin-top: 10px;
    width: 300px;
    height: 50px;
    border: 2px solid black;
    border-radius: 25px;
    font-family: 'Montserrat';
    font-size: 30px;
    background: linear-gradient(rgba(255, 255, 255, 0.9), wheat);
    
}
#formSubmit{
    margin-top: 30px;
    height: 70px;
    width: 70px;
    color: crimson;
    background: wheat;
    right: 45%;
    border-radius: 35px;
    
}
#formSubmit:hover{
    color: black;
    border: 3px solid black;
    animation: submitbut 3s infinite ease-in-out;
}
@keyframes submitbut{
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
.fa.fa-info-circle{
    font-size: 20px;
    color: wheat;
    position: absolute;
    top: 55%;
    right: 13%;
    
}
.fa.fa-check{
    font-size: 40px;

}
#gameScreen{
    position: absolute;
    height: 100vh;
    width: 100%;

}
#header{
    display: flex;
    justify-content: space-between;
    padding: 10px 60px; ;
    height: 5%;
    background: rgba(0, 0, 0, 0.4);

}
.fa.fa-user{
    font-size: 20px;
    margin-right: 10px;
    margin-left: 5px;

}
#userDisplay{
    font-size: 20px;
    position: absolute;
    right: 60px;
    top: 15px;
    border: 2px solid wheat;
    background-color: crimson;
    border-radius: 20px;
    padding: 5px 10px;
    color: wheat;  
}
#container2{ 
    display: flex;
    position: absolute;
    top: 17.5%;
    left: 10%;
    width: 80%;
    height: 70%;
    border-radius: 20px;
    overflow: hidden;
}
#scoreCont{
    
    width: 50%;
    background: radial-gradient(circle at -16% -16%, wheat, crimson);
	font-size: 2vw;
    font-weight: 500;
    text-align: center;
    
    

}
.scoreDis{
    padding: 220px 0;
    
    
    
    border-radius: 250px;
    /* box-shadow: 0 -2vmin 4vmin crimson inset, 0 1vmin 4vmin lightyellow inset,0 -2vmin 7vmin wheat inset;
    filter: drop-shadow(0 0 3vmin lightgoldenrodyellow) drop-shadow(0 5vmin 4vmin Orchid);
    animation: anim  30s infinite ease-in-out; */
}
@keyframes anim {
	0%,
	100% {
		border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
		box-shadow: 0 -2vmin 4vmin wheat, 0 -4vmin 4vmin lightyellow inset,
			0 -2vmin 7vmin crimson inset;
	}

	10% {
		border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
	}

	20% {
		border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
	}

	30% {
		border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
		box-shadow: 0 -4vmin 8vmin wheat inset, -1vmin -2vmin 6vmin lightyellow inset,
			-1vmin -2vmin 4vmin lightyellow inset, 1vmin 4vmin 8vmin crimson inset;
	}

	40% {
		border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
	}

	50% {
		border-radius: 100%;
		box-shadow: 0 4vmin 16vmin wheat inset, 0 2vmin 5vmin lightyellow inset, 0 4vmin 4vmin lightcoral inset,
			0 6vmin 8vmin crimson inset;
	}

	60% {
		border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
	}

	70% {
		border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
		box-shadow: 1vmin 1vmin 8vmin lightyellow,
			2vmin -1vmin 4vmin lightgoldenrodyellow inset, -1vmin -1vmin 16vmin crimson inset;
	}

	80% {
		border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
	}

	90% {
		border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
	}
}
.scoretext{
    font-size: 5vw;
    text-decoration: dashed;
    text-decoration-line: underline; 
    
    
}
#score{

    font-size: 5vw;
    color: wheat;
    
}
#rightCont{
    display: flex;
    flex-direction: column;
    border: 2px solid crimson;
    border-left: 0;
    border-radius: 0 20px 20px 0;
    width: 50%;
    overflow: hidden;
}
#headCont2{
    text-align: center;
    
    font-size: 2vw;
    border-bottom: 2px solid;
    
    color: crimson;
    background-color: wheat;
}
#timer{
    padding: 20px 0;
    border-bottom: 2px solid crimson;
    text-align: center;
}
#dice_img{
    border-bottom: 2px solid crimson;
    display: flex;
    justify-content: center;

}
#dice_img>img{
    height: 200px;
    
    max-width: 100%;
    margin: 60px 0;
}
.buttonAP{
    width: 250px;
    height: 50px;
    background-color: crimson;
    border: 0;
    border-radius: 8px;
    color: wheat;
    font-size: 25px;
}
#buttonsAP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#rollButton{
    margin-top: 22px;
}
.buttonAP:hover{
    color: rgb(247, 191, 89);
}
#playAgainButton{
    
    margin-top: 20px;
}
#newUserButton{
    
    margin-top: 20px;
}
#afterGame{
    
    align-content: center;
}
.popup {
    
    background-color: #555;
    color: #fff;
    
    border-radius: 6px;
    padding: 8px 0;

    z-index: 1;
    font-size: 10px;
    margin-top: 20px;
    opacity: 0;
  }
 